@import url(https://fonts.googleapis.com/css?family=Prociono);
@import url(alabaster.css);

div.bodywrapper h1 {
	text-indent: 0;
	font-family: "Prociono", "Garamond","Georgia", serif;
	font-size: 5em;
}

.logo {
	font-family: "Prociono", "Garamond","Georgia", serif;
}

div.body h2 {
	font-family: "Prociono", "Garamond","Georgia", serif;
}
